/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
element { max-width: 100vw; overflow-x: hidden; }
/* end of default */


/* Style Guide*/

:root{
    --neutral-10: #ffffff;
    --neutral-20: #f5f5f5;
    --neutral-30: #ededed;
    --neutral-40: #e0e0e0;
    --neutral-50: #c2c2c2;
    --neutral-60: #9e9e9e;
    --neutral-70: #757575;
    --neutral-80: #616161;
    --neutral-90: #404040;
    --neutral-100: #0a0a0a;
    
    --primary-50: #fbffec;
    --primary-100: #f1ffc5;
    --primary-200: #ebffa6;
    --primary-300: #e2fe7d;
    --primary-400: #dcfe64;
    --primary-500: #d3fe3d;
    --primary-600: #c0e738;
    --primary-700: #96b42b;
    --primary-800: #748c22;
    --primary-900: #596b1b;

    --secondary-50: #f0eefb;
    --secondary-100: #d1caf4;
    --secondary-200: #bab0ee;
    --secondary-300: #9b8ce6;
    --secondary-400: #8775e1;
    --secondary-500: #6953da;
    --secondary-600: #604cc6;
    --secondary-700: #4b3b9b;
    --secondary-800: #3a2e78;
    --secondary-900: #2c235c;

    --accent-a-500: #d0e9f9;
    --accent-b-500: #4d61f4;
    --accent-c-500: #9c8eb7;
    --accent-d-500: #2a330c;
}

.gap-4{
    gap: 4px;
}

.margin-top-8{
    margin-top: 8px;
}
.jaraklabel{
    display: inline-block;
    margin-top: 16px;
}
.margin-top-32{
    margin-top: 32px;
}


.hor-auto, .ver-auto{
    display: flex;
    justify-content: space-between;
}

.hor-auto{
    flex-direction: row;
}

.ver-auto{
    flex-direction: column;
}

.poppins-medium, .poppins-regular{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.poppins-regular {
    font-weight: 400;
}
  
.poppins-medium {
    font-weight: 500;
}

.heading-xl{
    font-size: 52px;
}

.heading-m{
    font-size: 32px;
}

.heading-s{
    font-size: 24px;
}

.body-xl{
    font-size: 18px;
}

.body-l{
    font-size: 16px;
}

.body-m{
    font-size: 14px;
}

.body-s{
    font-size: 12px;
}

.body-xs{
    font-size: 10px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
/* End Of Style Guide*/

/* Start Navigation */
.nav-pad{
    padding: 12px 64px;
    width: 100%;
}

.nav-style{
    z-index: 10;
    height: 75px;
    background-color: var(--secondary-500);
    align-items: center;
    position: fixed;
}

.menu{
    gap: 12px;
}

.menu a{
    border-radius: 6px;
    display: block;
    height: fit-content;
    font-size: 16px;
    padding: 6px 12px;
    font-style: none;
    text-decoration: none;
    /* color: var(--neutral-10); */
}

/* .menu a.menu-active{
    color: var(--primary-500);
}

.menu a.cta-menu{
    color: var(--neutral-100);
    background-color: var(--primary-500);
} */

.logo-nav{
    height: 32px;
    width: auto;
}
/* End Of Navigation */

/* Start Home Section */

.home-section{
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-10);
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
}

.text-action{
    width: 40%;
}

.welcome .text{
    color: var(--neutral-80);
}

.image-robot{
    width: auto;
    height: 400px;
}

.home-section .group-button{
    margin-top: 16px;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.home-section .group-button a.cta-button{
    color: var(--neutral-10);
    background-color: var(--secondary-500);
}

.home-section .group-button a{
    width: fit-content;
    border-radius: 6px;
    display: block;
    height: fit-content;
    padding: 6px 12px;
    font-style: none;
    text-decoration: none;
    color: var(--secondary-500);
}

.strip-kiri{
    transform: rotate(-1.4deg);
    flex-direction: row-reverse;
}

.strip-kanan{
    transform: rotate(1.6deg);
    flex-direction: row;
}

.strip-kanan-image{
    margin-left: -30%;
}

.strip-kiri-image{
    background-position: right;
    margin-right: -30%;
}

.border{
    border: 1px solid var(--neutral-100);
}

.strip{
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 95vh;
    z-index: 9;
    display: flex;
    overflow-x: hidden;
}

.strip-image{
    background-image: url(Asset/Logo-repeat.svg);
    background-color: var(--primary-500);
    height: 60px;
    width: 150%;
}
/* End Of Home Section */

/* Start Tagline */
.tagline-section{
    margin-top: 100vh;
    width: 100%;
    height: 18vh;
    background-color: var(--secondary-500);
    align-items: center;
    /* overflow: hidden; */
}

.tagline-section span{
    /* margin-top: 9vh; */
    color: var(--neutral-10);
}


/* End Of Tagline */

/* Start About Section */
.about-section{
    margin-top: 118vh;
    width: 100%;
    height: 82vh;
    background-color: var(--neutral-10);
    
}

#aboutSection{
    justify-content: center;
    gap: 2.5%;
}

.about-section .group-image{
    width: 35%;
    height: 100%;
    align-items: end;
    justify-content: center;
    gap: 20px;
    /* overflow-y: hidden; */
    /* background-color: #3a2e78; */
}

.about-section .group-image .atas, 
.about-section .group-image .bawah{
    gap: 20px;
}

.kiri, .kanan{
    width: 280px;
    height: 280px;
    display: flex;
}

.about-section .group-image .atas .kiri,
.about-section .group-image .bawah .kiri{
    justify-content: end;
}

.about-section .group-image .atas .kiri,
.about-section .group-image .atas .kanan{
    align-items: end;
}

#imageAboutLeftTop{
    width: 160px;
    height: 220px;
    border-radius: 12px;
    background-image: url(Asset/LeftTop.png);
    background-size: cover;
    background-position: center;
}

#imageAboutRightTop{
    width: 240px;
    height: 160px;
    border-radius: 12px;
    background-image: url(Asset/RightTop.png);
    background-size: cover;
    background-position: center;
}

#imageAboutLeftBottom{
    width: 230px;
    height: 130px;
    border-radius: 12px;
    background-image: url(Asset/LeftBottom.png);
    background-size: cover;
    background-position: center;
}

#imageAboutRightBottom{
    width: 200px;
    height: 240px;
    border-radius: 12px;
    background-image: url(Asset/RightBottom.png);
    background-size: cover;
    background-position: center;
}

.about-section .text{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.about-section a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-500);
}

.about-section a.button{
    color: var(--neutral-10);
    background-color: var(--secondary-500);
    width: fit-content;
    border-radius: 6px;
    display: block;
    height: fit-content;
    padding: 6px 12px;
    font-style: none;
    text-decoration: none;
}

/* End Of About Section */

/* Start Service Section */
.service-section{
    margin-top: 200vh;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-500);
    padding-left: 64px;
    padding-right: 64px;
    align-items: center;
}


.service-section .strip{
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 95vh;
    z-index: 9;
    display: flex;
    overflow-x: hidden;
}


.service-section .strip-kiri{
    transform: rotate(-1.4deg);
    flex-direction: row-reverse;
}

.service-section .strip-kanan{
    transform: rotate(1.6deg);
    flex-direction: row;
}

.service-section .strip-kanan-image{
    margin-left: -30%;
}

.service-section .strip-kiri-image{
    background-position: right;
    margin-right: -30%;
}


.service-section .strip-image{
    background-image: url(Asset/Logo-repeat-secondary.svg);
    background-color: var(--secondary-500);
    height: 60px;
    width: 150%;
}
/* End Of Service Section */

/* Start Contact Section */
.contact-section{
    margin-top: 300vh;
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-10);
    justify-content: space-between;
}
.contact-section .img{
    width: 50%;
    height: 100%;
    background-color: var(--neutral-80);
    background-image: url(Asset/Contact-image.png);
    background-size: cover;
}
.contact-section .text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section .text span{
    color: var(--neutral-70);
}

.contact-section .text form{
    width: 80%;
}

.contact-section .text form input,
.contact-section .text form textarea{
    width: 100%;
    padding: 8px 12px;
    border: solid 1px var(--neutral-50);
    border-radius: 6px;
}

.button-submit{
    background-color: var(--secondary-500);
    height: 40px;
    width: 100%;
    color: var(--neutral-10);
}

.button-submit:hover{
    background-color: var(--secondary-600);
}

textarea{
    resize: none;
}
/* End Of Contact Section */

/* Start Footer Section */

.footer-section{
    margin-top: 400vh;
    width: 100%;
    height: 48vh;
    background-color: var(--accent-b-500);
    justify-content: space-between;
}

/* End Of Footer Section */
